.conatainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.conatainer div {
  padding: 15px;
  margin: 5px;
  background-color: #c8bdbd;
  font-size: 12px !important;
  border-radius: 30px;
  font-size: 17px;
}

.UserConatainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 170px !important;
  overflow: hidden;
}
.UserConatainer div {
  padding: 15px;
  margin: 5px;
  background-color: #c8bdbd;
  font-size: 12px !important;
  border-radius: 30px;
  font-size: 17px;
}
.blogsConatainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.blogsConatainer > div {
  /* background-color: aqua; */
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.276);
}

@media only screen and (max-width: 600px) {
  .conatainer {
    width: 100%;
    padding: 1px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  .UserConatainer {
    width: 100%;
    padding: 1px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  .conatainer div {
    width: auto;
  }
}
