.cards {
  display: flex;
  margin: auto;
  background-color: rgb(149, 198, 198);
}

.cardBlog :hover{
  cursor: grabbing;
}
.blogContent {
  color: rgb(79, 80, 81);
  max-height: 75px;
  overflow: hidden;
}
.blogImg {
  position: relative;
  overflow: hidden;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80% !important;
  height: auto !important;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
